<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SN11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,109}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{74,109}}</string>
                <key>sourceSize</key>
                <string>{142,117}</string>
            </dict>
            <key>SN11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{104,103}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,5},{104,103}}</string>
                <key>sourceSize</key>
                <string>{170,117}</string>
            </dict>
            <key>SN11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{88,103}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,5},{88,103}}</string>
                <key>sourceSize</key>
                <string>{170,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SN14.png</string>
            <key>size</key>
            <string>{273,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af51b6b48ffec7ad2c50e4e22380cc9b:8391adb87f1afecae55653cb254e7f8d:97af34a37747465246b900deba1fadda$</string>
            <key>textureFileName</key>
            <string>SN14.png</string>
        </dict>
    </dict>
</plist>
